* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Microsoft Yahei';
}

#box {
    width: 550px;
    height: 550px;
    border: 2px solid #000;
    margin: 50px 0 10px 50px;
    display: inline-block;
    position: relative;
    float: left;

}

#box ul {
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
}

#box ul > li {
    width: 50px;
    height: 50px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
    float: left;
    font-size: 12px;
}

.count {
    position: absolute;
    left: 0;
    top: 0;
}

.count.row {
    top: -50px;
}

.count.row li {
    width: 50px;
    float: left;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}

.count.col {
    left: -50px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    margin-bottom: -1px;
    font-size: 18px;
    text-align: center;
}

.block {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    background: red;
    box-sizing: border-box;
    border-top: 10px solid blue;
}

.wall{
    width: 50px;
    height: 50px;
    position: absolute;
    background: #000;
}

#consoler {
    width: 800px;
    overflow: hidden;
    margin: 0px auto;
    text-align: center;
    height: 525px;
    display: inline-block;
    float: right;
}
#consoler ul{
    display: inline-block;
    width: 30px;
    text-align: right;
    height: 150px;
    top:0px;
    vertical-align: top;
    position: relative;
}
#btnGroup,#quickInput
{
    margin-top: 10px;
    display: inline-block;
    width: 700px;
    text-align: center;
    float:right;
}

#btnGroup>[type="button"]{
    display: inline-block;
    background: #4CCA3E;
    color: #fff;
    width:120px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    margin: 10px 2px;
}
#btnGroup>[type="text"]{
    padding: 8px 11px;
}
#quickInput>button{
    margin: 10px 5px;
    padding: 5px 15px;
    background: #6598D3;
    color: #fff;
    border: none;
    cursor: pointer;
    width:100px;

}

#btnGroup>label{
    cursor: pointer;
}
#enableKey{
    display: inline-block;
    cursor: pointer;
}
#consoler>ul>li{
    color: #fff;
    background: #CCCCCC;
}
#consoler>ul>.error
{
    background: red;
}
#txt{
    line-height: 21px;
    background: #000000;
    color: #2C7F23;
    font-weight: bold;
}
#car{
    transition: left 1s,right 1s,top 1s,bottom 1s,-webkit-transform 1s;
    -webkit-transition: left 1s,right 1s,top 1s,bottom 1s,-webkit-transform 1s; /* Safari */
}

#tip{
    margin-right: 20px;
    float: right;
    width: 350px;
}

#tip h5{
    margin-top: 20px;
    display: block;
}

#tip button{
    background: #4CCA3E;
    color: #fff;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    margin: 5px;
    width:150px;
}

.butt{
    display: block;
    margin: 0px auto 10px auto;
    width: 200px;
}

#consoler{
    counter-reset: item;
}
#LineNum > *:before {
  counter-increment: item;
  content: counter(item);
}

#wallGroup{
    position: absolute;
}